In [1]:
import numpy as np
import pandas as pd

In [2]:
# Caminhos dos arquivos
filmes_path = r'C:\Users\janai\Desktop\sprint3\dados\movies.csv'
rating_path = r'C:\Users\janai\Desktop\sprint3\dados\ratings.csv'

In [3]:
# Carregando os dados
movie = pd.read_csv(filmes_path, low_memory=False)
rating = pd.read_csv(rating_path, low_memory=False)

In [4]:
df_r = rating.copy()
df_m = movie.copy()

In [5]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
rating.shape

(100836, 4)

In [7]:
rating.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [8]:
rating.drop(['timestamp'], axis=1, inplace=True)

In [9]:
rating.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [10]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
print('Shape: ', movie.shape, '\n')
movie.info()

Shape:  (9742, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [12]:
df_combined = pd.merge(rating, movie, on = 'movieId')

In [13]:
df_combined.head()

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [14]:
df_combined.shape

(100836, 5)

In [15]:
# Create a function to find genres in the dataset

genres = {} # create a dictionary to store different genre values

def find_genres():
    for genre in movie['genres']:
        words = genre.split('|')
        for word in words:
            genres[word] = genres.get(word, 0) + 1
            
find_genres()

In [16]:
genres

{'Adventure': 1263,
 'Animation': 611,
 'Children': 664,
 'Comedy': 3756,
 'Fantasy': 779,
 'Romance': 1596,
 'Drama': 4361,
 'Action': 1828,
 'Crime': 1199,
 'Thriller': 1894,
 'Horror': 978,
 'Mystery': 573,
 'Sci-Fi': 980,
 'War': 382,
 'Musical': 334,
 'Documentary': 440,
 'IMAX': 158,
 'Western': 167,
 'Film-Noir': 87,
 '(no genres listed)': 34}

In [17]:
# replace '(no genres listed)' by 'None'
genres['None'] = genres.pop('(no genres listed)')

Filmes com alta Classificação

In [18]:
df_n_ratings = pd.DataFrame(df_combined.groupby('title')['rating'].mean())
df_n_ratings['total ratings'] = pd.DataFrame(df_combined.groupby('title')['rating'].count())
df_n_ratings.rename(columns = {'rating': 'mean ratings'}, inplace=True)

df_n_ratings.sort_values('total ratings', ascending=False).head(10)

                                           mean ratings  total ratings
title
Forrest Gump (1994)                            4.164134            329
Shawshank Redemption, The (1994)               4.429022            317
Pulp Fiction (1994)                            4.197068            307
Silence of the Lambs, The (1991)               4.161290            279
Matrix, The (1999)                             4.192446            278
Star Wars: Episode IV - A New Hope (1977)      4.231076            251
Jurassic Park (1993)                           3.750000            238
Braveheart (1995)                              4.031646            237
Terminator 2: Judgment Day (1991)              3.970982            224
Schindler's List (1993)                        4.225000            220

In [19]:
df_n_ratings.sort_values('mean ratings', ascending=False).head(10)

                                           mean ratings  total ratings
title
Gena the Crocodile (1969)                           5.0              1
True Stories (1986)                                 5.0              1
Cosmic Scrat-tastrophe (2015)                       5.0              1
Love and Pigeons (1985)                             5.0              1
Red Sorghum (Hong gao liang) (1987)                 5.0              1
Thin Line Between Love and Hate, A (1996)           5.0              1
Lesson Faust (1994)                                 5.0              2
Eva (2011)                                          5.0              1
Who Killed Chea Vichea? (2010)                      5.0              1
Siam Sunset (1999)                                  5.0              1

In [20]:
print('Número total de usuários que deram nota 5,0: ', len(df_n_ratings.loc[df_n_ratings['mean ratings'] == 5]), '\n')
print('Número total de usuários individuais que deram classificação de 5,0 : ', len(df_n_ratings.loc[(df_n_ratings['mean ratings'] == 5) 
                                                                           & (df_n_ratings['total ratings'] == 1)]))

Número total de usuários que deram nota 5,0:  296

Número total de usuários individuais que deram classificação de 5,0 :  289

Filtragem Colaborativa

Criar matriz usuário-Item

In [21]:
util_mat = df_combined.pivot_table(index = 'userId', columns = 'title', values = 'rating')
util_mat.head(5)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Filtragem Colaborativa Usuário-Usuário - Nisto calculamos a similaridade de todos os usuários com o usuário ativo (o usuário para quem a previsão se destina). Em seguida, classificamos e filtramos os N usuários principais para fazer previsões para o usuário ativo. Isso geralmente é muito eficaz, mas exige muito tempo e recursos. Por exemplo, se Dennis e Davis gostam dos mesmos filmes e sai um novo filme que Davis gosta, então podemos recomendar esse filme a Dennis porque Davis e Dennis parecem gostar dos mesmos filmes.

2) Filtragem Colaborativa Item-Item - É semelhante ao CF Usuário-Usuário, só que agora calculamos a similaridade entre itens para recomendar itens semelhantes. Por exemplo. Ao comprar qualquer produto na Amazon, você encontrará esta linha "Usuários que compraram este item também compraram...", então a Amazon usa amplamente item-item CF. Lembre-se de que não estou dizendo que eles usam apenas item-item CF, eles têm técnicas híbridas para melhor atender usuários até mesmo com interesses únicos.

Item-Item CF é muito mais rápido que User-User CF. e em segundo lugar, os perfis dos usuários mudam rapidamente e todo o modelo do sistema tem que ser recalculado, enquanto as classificações médias dos itens não mudam tão rapidamente, e isso leva a distribuições de classificação mais estáveis ​​no modelo, para que o modelo não precise ser reconstruído como muitas vezes.

In [22]:
user_util_matrix = util_mat.copy()
user_util_matrix = user_util_matrix.apply(lambda row: row.fillna(row.mean()), axis=1)
user_util_matrix.head(5)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,...,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,4.366379,4.000000,4.366379
2,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,...,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276,3.948276
3,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,...,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897,2.435897
4,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,...,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556,3.555556
5,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,...,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364,3.636364

In [23]:
user_util_matrix.T.corr()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,1.264516e-03,5.525772e-04,0.048419,0.021847,-0.045497,-6.199672e-03,0.047013,1.950985e-02,-8.754088e-03,...,0.018127,-0.017172,-0.015221,-3.705875e-02,-2.912138e-02,0.012016,0.055261,0.075224,-2.571255e-02,0.010932
2,0.001265,1.000000e+00,-4.975816e-17,-0.017164,0.021796,-0.021051,-1.111357e-02,-0.048085,7.652805e-16,3.011629e-03,...,-0.050551,-0.031581,-0.001688,-1.265569e-15,-6.430371e-16,0.006226,-0.020504,-0.006001,-6.009100e-02,0.024999
3,0.000553,-4.975816e-17,1.000000e+00,-0.011260,-0.031539,0.004800,-2.587070e-16,-0.032471,-4.812885e-16,3.774064e-16,...,-0.004904,-0.016117,0.017749,-8.106536e-16,-1.430628e-03,-0.037289,-0.007789,-0.013001,-1.168878e-16,0.019550
4,0.048419,-1.716402e-02,-1.125978e-02,1.000000,-0.029620,0.013956,5.809139e-02,0.002065,-5.873603e-03,5.159032e-02,...,-0.037687,0.063122,0.027640,-1.378212e-02,4.003747e-02,0.020590,0.014628,-0.037569,-1.788358e-02,-0.000995
5,0.021847,2.179571e-02,-3.153892e-02,-0.029620,1.000000,0.009111,1.011715e-02,-0.012284,7.750436e-16,-3.316512e-02,...,0.015964,0.012427,0.027076,1.246135e-02,-3.627206e-02,0.026319,0.031896,-0.001751,9.382892e-02,-0.000278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.012016,6.225827e-03,-3.728895e-02,0.020590,0.026319,-0.009137,2.832591e-02,0.022277,3.163273e-02,-3.994577e-02,...,0.053683,0.016384,0.098011,6.107833e-02,1.967830e-02,1.000000,0.017927,0.056676,3.842210e-02,0.075464
607,0.055261,-2.050374e-02,-7.789105e-03,0.014628,0.031896,0.045501,3.098070e-02,0.048822,-1.216061e-02,-1.765576e-02,...,0.049059,0.038197,0.049317,2.355180e-03,-2.938114e-02,0.017927,1.000000,0.044514,1.904919e-02,0.021860
608,0.075224,-6.000828e-03,-1.300064e-02,-0.037569,-0.001751,0.021727,2.841409e-02,0.071759,3.278284e-02,-5.199963e-02,...,0.069198,0.051388,0.012801,6.318649e-03,-7.977761e-03,0.056676,0.044514,1.000000,5.071449e-02,0.054454
609,-0.025713,-6.009100e-02,-1.168878e-16,-0.017884,0.093829,0.053017,8.754391e-03,0.077180,-2.489604e-16,-4.009050e-02,...,0.043465,0.062400,0.015334,9.403771e-02,-5.472183e-02,0.038422,0.019049,0.050714,1.000000e+00,-0.012471
610,0.010932,2.499921e-02,1.954996e-02,-0.000995,-0.000278,0.009603,6.842957e-02,0.017144,5.189754e-02,-2.600368e-02,...,0.021603,0.030061,0.051255,1.562147e-02,6.983700e-02,0.075464,0.021860,0.054454,-1.247143e-02,1.000000

In [24]:
user_corr_mat = user_util_matrix.T.corr()
corr_user_1 = user_corr_mat.iloc[0]

In [25]:
corr_user_1.sort_values(ascending=False, inplace=True)

In [26]:
corr_user_1

userId
1      1.000000
301    0.124799
597    0.102631
414    0.101348
477    0.099217
         ...
71    -0.082932
370   -0.086678
501   -0.090018
579   -0.105003
53          NaN
Name: 1, Length: 610, dtype: float64

In [27]:
# Os valores NaN são gerados em corr() porque o std dev é zero, o que é necessário para calcular a similaridade de Pearson.
corr_user_1.dropna(inplace = True)

In [28]:
# Despreze o primeiro valor corr, pois é o próprio usuário1
top50_corr_users = corr_user_1[1:51]

In [29]:
df_combined[ df_combined['userId'] == 1]

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...
227,1,3744,4.0,Shaft (2000),Action|Crime|Thriller
228,1,3793,5.0,X-Men (2000),Action|Adventure|Sci-Fi
229,1,3809,4.0,What About Bob? (1991),Comedy
230,1,4006,4.0,Transformers: The Movie (1986),Adventure|Animation|Children|Sci-Fi
231,1,5060,5.0,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War

In [30]:
# user1 não avaliou 32 filmes
df_combined[ (df_combined['userId'] == 1) & (df_combined['movieId'] == 32) ]

Empty DataFrame
Columns: [userId, movieId, rating, title, genres]
Index: []

In [31]:
print('32nd Movie : ', movie['title'][ movie['movieId'] == 32 ].values)

32nd Movie :  ['Twelve Monkeys (a.k.a. 12 Monkeys) (1995)']

Então, vamos calcular quais avaliações o usuário 1 daria ao filme com a ajuda do vetor de similaridade. E com base nessa classificação, podemos compará-la com uma classificação limite. Se a classificação for mais alta, ela ficará visível para o usuário ativo em sua lista de recomendações.

In [32]:
df_n_ratings.loc[['Twelve Monkeys (a.k.a. 12 Monkeys) (1995)']]

                                           mean ratings  total ratings
title
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)      3.983051            177

In [33]:
top50_users = top50_corr_users.keys()

count = 0
users = list()
for user in top50_users:
    if df_combined[ (df_combined['userId'] == user) & (df_combined['movieId'] == 32) ]['rating'].sum()  :
        count +=1
        users.append(user)

print(count)

30

In [34]:
# Vamos definir uma função para calcular como o usuário1 avaliará o filme
# Usamos a média ponderada de k usuários semelhantes
def predict_rating():
    sum_similarity = 0
    weighted_ratings = 0
    for user in users:
        weighted_ratings += top50_corr_users.loc[user] * df_combined[
            (df_combined['userId'] == user) & 
            (df_combined['movieId'] == 32)
        ]['rating'].sum()
        sum_similarity += top50_corr_users.loc[user]

    print(weighted_ratings / sum_similarity)

In [35]:
def predict_rating():
    sum_similarity = 0
    weighted_ratings = 0
    for user in users:
        weighted_ratings += top50_corr_users.loc[user] * df_combined[
            (df_combined['userId'] == user) & 
            (df_combined['movieId'] == 32)
        ]['rating'].sum()
        sum_similarity += top50_corr_users.loc[user]

    return weighted_ratings / sum_similarity

In [36]:
predicted_rating = predict_rating()
print(predicted_rating)

4.1368953015974315

In [37]:
df_m[ df_m['movieId'] == 32]

,movieId,title,genres
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

Bem, há mudanças muito boas na recomendação deste filme para o primeiro usuário, já que a avaliação é muito boa.

Então, é assim que funciona um CF ingênuo baseado em usuário. As classificações previstas são calculadas de forma semelhante para cada usuário (obviamente para os filmes que ele não foi avaliado) e dependendo da classificação limite, o filme é exibido em sua lista de recomendações ou descartado.

2) Filtragem Colaborativa Baseada em Itens
É bastante semelhante ao algoritmo anterior, mas em vez de encontrar a semelhança do usuário, tentamos encontrar a semelhança do filme.
Assim que tivermos a matriz semelhante do filme, podemos facilmente recomendar filmes semelhantes ao usuário que avaliou qualquer filme do conjunto de dados.

In [38]:
# Vamos encontrar filmes semelhantes ao Jurassic Park
df_n_ratings.loc[['Jurassic Park (1993)']]

                      mean ratings  total ratings
title
Jurassic Park (1993)          3.75            238

In [39]:
item_util_matrix = util_mat.copy()
item_util_matrix.head(5)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
item_util_matrix = item_util_matrix.apply(lambda col : col.fillna(col.mean()), axis=0)
item_util_matrix.head(5)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,4.000000,1.0
2,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
3,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
4,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
5,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0

In [41]:
item_util_matrix.isna().sum().sum()

0

Isso significa que cada filme é avaliado por pelo menos 1 usuário.

In [42]:
item_util_matrix.corr()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,1.000000e+00,NaN,-2.470228e-17,NaN,-6.783236e-16,-4.090781e-16,...,NaN,1.491400e-15,-2.970631e-18,NaN,NaN,-1.174172e-16,-4.643126e-16,-1.457468e-15,2.901144e-15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),NaN,NaN,NaN,NaN,-1.174172e-16,NaN,6.069910e-02,NaN,-7.527708e-02,2.947366e-02,...,NaN,-1.447002e-15,-3.196632e-16,NaN,NaN,1.000000e+00,3.784587e-02,1.243849e-15,-3.410933e-02,NaN
xXx (2002),NaN,NaN,NaN,NaN,-4.643126e-16,NaN,-3.527098e-03,NaN,1.558884e-01,2.511177e-01,...,NaN,-2.067568e-01,-4.854206e-03,NaN,NaN,3.784587e-02,1.000000e+00,2.449296e-01,1.854832e-02,NaN
xXx: State of the Union (2005),NaN,NaN,NaN,NaN,-1.457468e-15,NaN,6.027298e-16,NaN,1.107823e-01,-1.311693e-15,...,NaN,-2.014024e-01,7.715167e-02,NaN,NaN,1.243849e-15,2.449296e-01,1.000000e+00,1.034849e-15,NaN
¡Three Amigos! (1986),NaN,NaN,NaN,NaN,2.901144e-15,NaN,1.683581e-02,NaN,4.333034e-02,1.292903e-01,...,NaN,-6.202803e-16,1.381039e-16,NaN,NaN,-3.410933e-02,1.854832e-02,1.034849e-15,1.000000e+00,NaN
À nous la liberté (Freedom for Us) (1931),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Existem muitos valores NaN e isso ocorre porque quando estamos calculando a correlação de Pearson, se o vetor de classificação tiver todos os valores iguais para, por exemplo, -> [3,0, 3,0, 3,0, 3,0, ....], então o Desvio Padrão é zero e a divisão por zero é indefinida e, portanto, sua correlação com qualquer outro vetor de classificação é NaN.

Como existem muitos filmes avaliados apenas por 1 usuário, toda a média da coluna é preenchida com a avaliação desse usuário e, portanto, a correlação de Pearson fornece valores NaN com qualquer outra coluna.

In [43]:
item_corr_matrix = item_util_matrix.corr()

In [44]:
jurassic_park_corr = item_corr_matrix['Jurassic Park (1993)']
jurassic_park_corr = jurassic_park_corr.sort_values(ascending=False)
jurassic_park_corr.dropna(inplace=True)

In [48]:
movies_similar_to_jurassic_park = pd.DataFrame(data=jurassic_park_corr.values, columns=['Correlation'], 
                                               index = jurassic_park_corr.index)
movies_similar_to_jurassic_park = movies_similar_to_jurassic_park.join(df_n_ratings['total ratings'])
movies_similar_to_jurassic_park.head(5)

                                      Correlation  total ratings
title
Jurassic Park (1993)                     1.000000            238
Fugitive, The (1993)                     0.324717            190
Lethal Weapon (1987)                     0.318646             75
Independence Day (a.k.a. ID4) (1996)     0.263629            202
Mission: Impossible (1996)               0.258080            162

In [47]:
movies_similar_to_jurassic_park = movies_similar_to_jurassic_park[1:]
movies_similar_to_jurassic_park[ movies_similar_to_jurassic_park['total ratings'] > 100 ].sort_values(ascending=False,
                                                                                          by=['Correlation']).head(5)

                                             Correlation  total ratings
title
Independence Day (a.k.a. ID4) (1996)            0.263629            202
Mission: Impossible (1996)                      0.258080            162
Ghostbusters (a.k.a. Ghost Busters) (1984)      0.256527            120
Indiana Jones and the Temple of Doom (1984)     0.239826            108
Die Hard (1988)                                 0.239294            145